.avatar-editor {
	& .body {
		& .left {
			& .username {
				position: absolute;
				@include ubuntu(bold);
				font-size: 28px;
				color: rgb(255, 255, 255);
				margin-top: 13px;
				width: fit-content;
				justify-self: center;
				z-index: 1;
			}

			& .sub-header {
				& .tabs {
					background-color: unset;

					& .tab {
						width: 52px;
						background-color: rgb(126, 139, 137);
						border-color: rgb(39, 46, 49) rgb(39, 46, 49)
							rgb(0, 0, 0) !important;

						& .hd {
							height: 22px;
							width: 21px;
							@include sprite(1, 1, "avatar-editor");
						}

						& .head {
							height: 22px;
							width: 34px;
							@include sprite(1, 2, "avatar-editor");
						}

						& .torso {
							height: 22px;
							width: 32px;
							@include sprite(1, 3, "avatar-editor");
						}

						& .legs {
							height: 22px;
							width: 21px;
							@include sprite(1, 4, "avatar-editor");
						}

						& .hotlooks {
							height: 22px;
							width: 31px;
							@include sprite(1, 5, "avatar-editor");
						}

						& .effects {
							height: 22px;
							width: 25px;
							@include sprite(1, 6, "avatar-editor");
						}
					}
				}

				& .starbo-button {
					position: absolute;
					bottom: 1px;
					right: 0px;
					margin: 1px 5px 4px 1px;
					& .wardrobe {
						height: 21px;
						width: 29px;
						@include sprite(1, 7, "avatar-editor");
					}
				}
			}

			& .content {
				display: flex;

				& .left {
					margin-left: 20px;
					width: 329px;

					& .picker {
						& .categories {
							display: flex;
							margin-left: 19px;

							& .category {
								display: flex;
								align-items: center;
								height: 37px;
								cursor: default;
								margin-right: 21px;
								margin-top: 10px;

								& p {
									@include ubuntu(medium);
									font-size: 12px;
									margin: auto;
									color: black;
									margin-left: 13px;
								}

								& button {
									border: none;
									background: unset;
									cursor: pointer;
								}

								& .boy {
									height: 30px;
									width: 21px;
									@include sprite(2, 2, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(2, 1, "avatar-editor");
									}
								}

								& .girl {
									height: 30px;
									width: 18px;
									@include sprite(2, 4, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(2, 3, "avatar-editor");
									}
								}

								& .hr {
									width: 29px;
									height: 25px;
									@include sprite(2, 6, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(2, 5, "avatar-editor");
									}
								}

								& .ha {
									width: 25px;
									height: 22px;
									@include sprite(2, 8, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(2, 7, "avatar-editor");
									}
								}

								& .he {
									width: 31px;
									height: 27px;
									@include sprite(2, 10, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(2, 9, "avatar-editor");
									}
								}

								& .ea {
									width: 35px;
									height: 16px;
									@include sprite(3, 2, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(3, 1, "avatar-editor");
									}
								}

								& .fa {
									width: 27px;
									height: 20px;
									@include sprite(3, 4, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(3, 3, "avatar-editor");
									}
								}

								& .ch {
									width: 29px;
									height: 24px;
									@include sprite(3, 6, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(3, 5, "avatar-editor");
									}
								}

								& .cp {
									width: 30px;
									height: 24px;
									@include sprite(3, 8, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(3, 7, "avatar-editor");
									}
								}

								& .cc {
									width: 31px;
									height: 29px;
									@include sprite(3, 10, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(3, 9, "avatar-editor");
									}
								}

								& .ca {
									width: 25px;
									height: 25px;
									@include sprite(4, 2, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(4, 1, "avatar-editor");
									}
								}

								& .lg {
									width: 19px;
									height: 20px;
									@include sprite(4, 4, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(4, 3, "avatar-editor");
									}
								}

								& .sh {
									width: 37px;
									height: 10px;
									@include sprite(4, 6, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(4, 5, "avatar-editor");
									}
								}

								& .wa {
									width: 36px;
									height: 18px;
									@include sprite(4, 8, "avatar-editor");
									&.selected,
									&:hover {
										@include sprite(4, 7, "avatar-editor");
									}
								}
							}
						}

						& .items {
							display: grid;
							grid-template-columns: repeat(6, 50px);
							overflow: auto;
							height: 200px;
							cursor: pointer;

							& .item {
								height: 50px;
								width: 50px;
								position: relative;
								display: flex;
								align-items: center;
								justify-content: center;

								img:not([src]) {
									visibility: hidden;
								}

								&::before {
									@include sprite(5, 1, "avatar-editor");
									position: absolute;
									width: 50px;
									height: 50px;
									z-index: 0;
								}

								&:not(.selected):hover::before {
									content: "";
									opacity: 0.5;
								}

								&.starbo-club::after {
									content: "";
									@include sprite(1, 10, "avatar-editor");
									width: 10px;
									height: 9px;
									position: absolute;
									right: 0px;
									bottom: 0px;
									z-index: 2;
								}

								&.selected::before {
									content: "";
								}

								& .remove {
									@include sprite(1, 9, "avatar-editor");
									width: 29px;
									height: 29px;
									z-index: 1;
								}

								& img {
									position: relative;
									z-index: 1;
									width: 50px;
									height: 50px;
								}
							}
						}

						& .colors {
							margin-top: 10px;
							display: flex;
							gap: 11px;

							&.dual {
								--columns: 9;
							}

							& .picker {
								width: 100%;
								height: 92px;
								display: grid;
								grid-template-columns: repeat(
									var(--columns, 20),
									13px
								);
								gap: 2px 2px;
								overflow: auto;

								& .color {
									height: 17px;
									border: 2px solid rgb(115, 109, 103);
									border-radius: 3px;
									padding: 0;
									box-shadow: 0px 2px 0px 0px rgb(36, 34, 29);
									margin-bottom: 2px;
									margin-top: 2px;
									position: relative;

									&.starbo-club::after {
										content: "";
										@include sprite(1, 10, "avatar-editor");
										width: 10px;
										height: 9px;
										position: absolute;
										right: -1px;
										bottom: -2px;
										z-index: 2;
									}

									&:hover,
									&.selected {
										transform: translateY(-2px);
										box-shadow: 0px 4px 0px 0px
											rgb(36, 34, 29);
										border-color: rgb(166, 157, 149);

										&::after {
											bottom: -4px;
										}
									}
								}
							}
						}
					}
				}

				& .right {
					width: 141px;
					.preview {
						overflow: visible;
						display: grid;
						margin-top: 68px;
						margin-left: 14px;
						position: relative;
						width: fit-content;

						& .avatar {
							z-index: 1;
						}

						& .shadow {
							@include sprite(5, 7, "avatar-editor");
							width: 68px;
							height: 34px;
							position: relative;
							bottom: -3px;
							left: 11px;
							z-index: 0;
						}

						.rotate {
							@include sprite(4, 9, "avatar-editor");
							width: 44px;
							height: 29px;
							background-color: unset;
							border: none;
							cursor: pointer;
							margin: auto;
							margin-top: 10px;
						}
					}

					.starbo-button {
						margin-left: 16px;
						margin-top: 51px;
					}
				}
			}
		}

		& .right {
			width: 164px;

			& .content {
				& .title {
					display: grid;
					justify-items: center;
					margin-top: 89px;
					h3 {
						@include ubuntu(bold);
						font-size: 13px;
						color: rgb(131, 130, 126);
						margin-bottom: 13px;
					}
					i {
						@include sprite(5, 9, "avatar-editor");
						width: 16px;
						height: 16px;
						margin-bottom: 5px;
					}
				}

				& .wardrobe {
					box-sizing: unset;
					border: 1px solid rgb(0, 0, 0);
					height: 298px;
					width: 133px;
					background-color: rgb(202, 202, 202);
					border-radius: 5px;
					margin-left: 11px;
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					justify-items: center;
					align-items: center;

					& .look {
						display: grid;
						grid-template-columns: 5px 24px;
						gap: 13px;
						align-items: center;
						& .buttons {
							& button {
								background: unset;
								border: unset;
								cursor: pointer;

								&.save {
									@include sprite(7, 2, "avatar-editor");
									width: 5px;
									height: 9px;
								}

								&.use {
									@include sprite(7, 1, "avatar-editor");
									width: 5px;
									height: 9px;
								}
							}
						}

						& .avatar-container {
							width: 24px;
							height: 50px;
							background-color: rgb(171, 171, 171);
							border-radius: 3px;
							//overflow: hidden;
							& .avatar {
								top: -42px;
								scale: 0.5;
								left: -35px;
								image-rendering: auto;
							}
						}
					}
				}
			}
		}
	}
}
