// mixin: sprite($row, $col, $sheet)
@mixin sprite($row, $col, $sheet, $size: 40px) {
	$x: ($col - 1) * -$size;
	$y: ($row - 1) * -$size;

	display: inline-block;
	background-repeat: no-repeat;
	background-position: $x $y;
	background-image: url("@/assets/sprites/#{$sheet}.png");
}
